<div id="schedule">
	<div id="hours" class="flex">
		<div class="day-name"></div>

		<div class="item">
			<div class="num">0</div>

			<div class="hour">
				<span class="from">7:05</span> - <span class="to">7:50</span>
			</div>
		</div>

		<div class="item">
			<div class="num">1</div>

			<div class="hour">
				<span class="from">8:00</span> - <span class="to">8:45</span>
			</div>
		</div>

		<div class="item">
			<div class="num">2</div>

			<div class="hour">
				<span class="from">8:55</span> - <span class="to">9:40</span>
			</div>
		</div>

		<div class="item">
			<div class="num">3</div>

			<div class="hour">
				<span class="from">10:00</span> - <span class="to">10:45</span>
			</div>
		</div>

		<div class="item">
			<div class="num">4</div>

			<div class="hour">
				<span class="from">10:55</span> - <span class="to">11:40</span>
			</div>
		</div>

		<div class="item">
			<div class="num">5a</div>

			<div class="hour">
				<span class="from">11:50</span> - <span class="to">12:35</span>
			</div>
		</div>

		<div class="item">
			<div class="num">5b</div>

			<div class="hour">
				<span class="from">12:10</span> - <span class="to">12:55</span>
			</div>
		</div>

		<div class="item">
			<div class="num">6a</div>

			<div class="hour">
				<span class="from">12:45</span> - <span class="to">13:30</span>
			</div>
		</div>

		<div class="item">
			<div class="num">6b</div>

			<div class="hour">
				<span class="from">13:05</span> - <span class="to">13:50</span>
			</div>
		</div>

		<div class="item">
			<div class="num">7</div>

			<div class="hour">
				<span class="from">14:00</span> - <span class="to">14:45</span>
			</div>
		</div>

		<div class="item">
			<div class="num">8</div>

			<div class="hour">
				<span class="from">14:50</span> - <span class="to">15:35</span>
			</div>
		</div>

		<div class="item">
			<div class="num">9</div>

			<div class="hour">
				<span class="from">15:40</span> - <span class="to">16:25</span>
			</div>
		</div>

		<div class="item">
			<div class="num">10</div>

			<div class="hour">
				<span class="from">16:30</span> - <span class="to">17:15</span>
			</div>
		</div>
	</div>

	<script id="atomTemplate" type="text/x-jsrender">

		    <div class="flex flex--column">

		    <span class="line">

		        <span class="bold">{{:subjecttext}}</span>

		    </span>

		    {{if (teacher||""!="")}}

		    <span class="line">Učitel: <span class="bold">{{:teacher}}</span>

		    </span>

		    {{/if}}

		<span class="line">Místnost: <span class="bold">{{:room}}</span>

		</span>

		    {{if (group||""!="")}}

		    <span class="line">Skupina: <span class="bold">{{:group}}</span>

		    </span>

		    {{/if}}

		{{if (theme||""!="")}}

		    <span class="line">Téma:

		        <span class="bold">{{:theme}}</span>

		    </span>

		    {{/if}}

		{{if (notice||""!="")}}

		    <span class="line">Poznámka:

		        <span class="bold">{{:notice}}</span>

		    </span>

		    {{/if}}

		{{if (changeinfo)}}

		    <span class="line">Změna:

		        <span class="bold">{{:changeinfo}}</span>

		    </span>

		    {{/if}}

		{{if (homeworks.length!=0)}}

		    {{if (homeworks.length > 1)}}

		    <span class="line clear-items">{{else}}

		    <span class="line">{{/if}}

		        <span class="fl hw-label">DÚ:</span>

		        {{for homeworks}}

		            <span class='bold fl item hw-content'>{{:#data}}</span>

		        {{/for}}

		    </span>

		        {{/if}}

		{{if (absencetext)}}

		    <span class="line fl clear-left">Docházka:

		        <span class="bold">{{:absencetext}}</span>

		    </span>

		        {{/if}}

		        {{if (identcode)}}



		        <span class="line bubble-actions">

		            <span>Akce:</span>

		            <span>



		                    <a class="ico32-data-dokumentOko" href="vyuka.aspx?atomIdentCode={{:identcode}}" title="Přehled výuky"></a>



		            </span>

		        </span>

		        {{/if}}

		        </div>
	</script>

	<script id="absentTemplate" type="text/x-jsrender">

		    <span class="line">

		        <span class="bold">{{:subjecttext}}</span>

		    </span>

		    {{if (notice||""!="")}}

		    <span class="line">Informace:

		        <span class="bold">{{:notice}}</span>

		    </span>

		    {{/if}}

		{{if (absentinfo)}}

		    <span class="line">

		        <span class="bold">{{:absentinfo}}</span>

		    </span>

		    {{/if}}

		{{if (removedinfo)}}

		    <span class="line">

		        <span class="bold">{{:removedinfo}}</span>

		    </span>

		    {{/if}}
	</script>

	<script id="removedTemplate" type="text/x-jsrender">

		    <span class="line">

		        <span class="bold">{{:subjecttext}}</span>

		    </span>

		    {{if (notice||""!="")}}

		    <span class="line">Poznámka:

		        <span class="bold bubble-item">{{:notice}}</span>

		    </span>

		    {{/if}}

		{{if (absentinfo)}}

		    <span class="line absentInfo">

		        <span class="bold">{{:absentinfo}}</span>

		    </span>

		    {{/if}}

		{{if (removedinfo)}}

		    <span class="line removedInfo">

		        <span class="bold">{{:removedinfo}}</span>

		    </span>

		    {{/if}}
	</script>

	<div class="day-row normal" style="height: 87px">
		<div class="">
			<div class="clearfix">
				<div class="day-name odd-name normal" style="height: 87px">
					<div>
						po<br />

						<span>17.10.</span>
					</div>
				</div>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-levy border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-horni odd normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk francouzský | po 17.10. | 1 (8:00 - 8:45)","teacher":"Mgr. Barbora Šimůnková","room":"210","group":"Fj","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101703ZXRKFOUUYNO"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Fj</div>
									</div>

									<div class="right">
										<div class="first">210</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fj
								</div>

								<div class="bottom">Šmů</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble pink"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Estetická výchova - hudební | po 17.10. | 2 (8:55 - 9:40)","teacher":"Mgr. Stanislav Hrnčíř","room":"203","group":"Ev1","theme":"","notice":"","changeinfo":"Přesun z 17.10., 4","homeworks":[],"absencetext":"","identcode":"12022101704ZXRS3ZUMMM0"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Ev1</div>
									</div>

									<div class="right">
										<div class="first">203</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Evh
								</div>

								<div class="bottom">Hrn</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni odd normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Estetická výchova - hudební | po 17.10. | 3 (10:00 - 10:45)","teacher":"Mgr. Stanislav Hrnčíř","room":"30A","group":"Ev1","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101705ZXRS3ZUMMM0"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Ev1</div>
									</div>

									<div class="right">
										<div class="first">30A</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Evh
								</div>

								<div class="bottom">Hrn</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble pink"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Chemie | po 17.10. | 4 (10:55 - 11:40)","teacher":"Mgr. Kateřina Hubková","room":"104","group":"","theme":"","notice":"","changeinfo":"Přesun z 19.10., 5a","homeworks":[],"absencetext":"","identcode":"12022101706ZXS99BUZYJN"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">104</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Ch
								</div>

								<div class="bottom">Hub</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Informatika a výpočetní technika | po 17.10. | 5b (12:10 - 12:55)","teacher":"Ing. Lada Škodová","room":"116","group":"1","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101708ZXRMU2UZYIG"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>1</div>
									</div>

									<div class="right">
										<div class="first">116</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Inf
								</div>

								<div class="bottom">Ško</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk anglický | po 17.10. | 6b (13:05 - 13:50)","teacher":"Mgr. Romana Čápová","room":"130","group":"1","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101710ZXRM0XUZYJT"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>1</div>
									</div>

									<div class="right">
										<div class="first">130</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Aj
								</div>

								<div class="bottom">Čáp</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-pravy border-horni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div class="day-row normal" style="height: 87px">
		<div class="odd-day-row">
			<div class="clearfix">
				<div class="day-name odd-name normal" style="height: 87px">
					<div>
						út<br />

						<span>18.10.</span>
					</div>
				</div>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-levy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Tělesná výchova | út 18.10. | 1 (8:00 - 8:45)","teacher":"Mgr. Martin Suchánek","room":"22Tv","group":"Chl","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101803ZXSA5HUWYO1"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Chl</div>
									</div>

									<div class="right">
										<div class="first">22Tv</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Tv
								</div>

								<div class="bottom">Sch</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk francouzský | út 18.10. | 2 (8:55 - 9:40)","teacher":"Mgr. Barbora Šimůnková","room":"210","group":"Fj","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101804ZXRKFOUUYNO"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Fj</div>
									</div>

									<div class="right">
										<div class="first">210</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fj
								</div>

								<div class="bottom">Šmů</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Základy společenských věd | út 18.10. | 3 (10:00 - 10:45)","teacher":"Mgr. Zdeňka Zubíková","room":"124","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101805ZXS9VFUZOOV"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">124</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Zsv
								</div>

								<div class="bottom">Zub</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk anglický | út 18.10. | 4 (10:55 - 11:40)","teacher":"Mgr. Romana Čápová","room":"130","group":"1","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101806ZXRM0XUZYJT"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>1</div>
									</div>

									<div class="right">
										<div class="first">130</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Aj
								</div>

								<div class="bottom">Čáp</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Matematika | út 18.10. | 5a (11:50 - 12:35)","teacher":"Ing. Lada Škodová","room":"206","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101807ZXS9DTUZYIG"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">206</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									M
								</div>

								<div class="bottom">Ško</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Fyzika | út 18.10. | 6b (13:05 - 13:50)","teacher":"Mgr. Luděk Zeinert","room":"102","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101810ZXS9G0ULYL5"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">102</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fy
								</div>

								<div class="bottom">Zei</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-pravy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div class="day-row normal" style="height: 87px">
		<div class="">
			<div class="clearfix">
				<div class="day-name odd-name normal" style="height: 87px">
					<div>
						st<br />

						<span>19.10.</span>
					</div>
				</div>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-levy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"st 19.10. | 2 (8:55 - 9:40)","absentinfo":"","removedinfo":"Přesun na 20.10., 1. hod (Bi, Pecová Barbora)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"st 19.10. | 3 (10:00 - 10:45)","absentinfo":"","removedinfo":"Zrušeno (D, Outlá Zuzana)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"st 19.10. | 4 (10:55 - 11:40)","absentinfo":"","removedinfo":"Zrušeno (Čj, Outlá Zuzana)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"st 19.10. | 5a (11:50 - 12:35)","absentinfo":"","removedinfo":"Přesun na 17.10., 4. hod (Ch, Hubková Kateřina)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Zeměpis | st 19.10. | 6b (13:05 - 13:50)","teacher":"Mgr. David Hanzlíček","room":"206","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022101910ZXS9LGUZYIC"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">206</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Z
								</div>

								<div class="bottom">Haz</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-pravy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div class="day-row normal" style="height: 87px">
		<div class="odd-day-row">
			<div class="clearfix">
				<div class="day-name odd-name normal" style="height: 87px">
					<div>
						čt<br />

						<span>20.10.</span>
					</div>
				</div>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-levy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble pink"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Biologie | čt 20.10. | 1 (8:00 - 8:45)","teacher":"Mgr. Barbora Pecová","room":"121","group":"","theme":"","notice":"","changeinfo":"Přesun z 19.10., 2","homeworks":[],"absencetext":"","identcode":"12022102003ZXS932UOVMM"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">121</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Bi
								</div>

								<div class="bottom">Pec</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk anglický | čt 20.10. | 2 (8:55 - 9:40)","teacher":"Mgr. Romana Čápová","room":"130","group":"1","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102004ZXRM0XUZYJT"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>1</div>
									</div>

									<div class="right">
										<div class="first">130</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Aj
								</div>

								<div class="bottom">Čáp</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk francouzský | čt 20.10. | 3 (10:00 - 10:45)","teacher":"Mgr. Barbora Šimůnková","room":"208","group":"Fj","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102005ZXRKFOUUYNO"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Fj</div>
									</div>

									<div class="right">
										<div class="first">208</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fj
								</div>

								<div class="bottom">Šmů</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Matematika | čt 20.10. | 4 (10:55 - 11:40)","teacher":"Ing. Lada Škodová","room":"203","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102006ZXS9DTUZYIG"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">203</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									M
								</div>

								<div class="bottom">Ško</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble pink"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Fyzika | čt 20.10. | 5a (11:50 - 12:35)","teacher":"Mgr. Luděk Zeinert","room":"203","group":"","theme":"","notice":"","changeinfo":"Přesun z 21.10., 1","homeworks":[],"absencetext":"","identcode":"12022102007ZXS9G0ULYL5"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">203</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fy
								</div>

								<div class="bottom">Zei</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Zeměpis | čt 20.10. | 6b (13:05 - 13:50)","teacher":"Mgr. David Hanzlíček","room":"206","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102010ZXS9LGUZYIC"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">206</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Z
								</div>

								<div class="bottom">Haz</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Fyzika | čt 20.10. | 7 (14:00 - 14:45)","teacher":"Mgr. Luděk Zeinert","room":"204","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102011ZXS9G0ULYL5"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">204</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fy
								</div>

								<div class="bottom">Zei</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Základy společenských věd | čt 20.10. | 8 (14:50 - 15:35)","teacher":"Mgr. Zdeňka Zubíková","room":"124","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102012ZXS9VFUZOOV"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">124</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Zsv
								</div>

								<div class="bottom">Zub</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div class="day-item odd normal" style="height: 87px">
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Tělesná výchova | čt 20.10. | 9 (15:40 - 16:25)","teacher":"Mgr. Martin Suchánek","room":"23Tv","group":"Chl","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102013ZXSA5HUWYO1"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Chl</div>
									</div>

									<div class="right">
										<div class="first">23Tv</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Tv
								</div>

								<div class="bottom">Sch</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-pravy normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>
			</div>
		</div>
	</div>

	<div class="day-row normal" style="height: 87px">
		<div class="">
			<div class="clearfix">
				<div class="day-name odd-name normal" style="height: 87px">
					<div>
						pá<br />

						<span>21.10.</span>
					</div>
				</div>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-levy border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble border-spodni pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"pá 21.10. | 1 (8:00 - 8:45)","absentinfo":"","removedinfo":"Přesun na 20.10., 5a. hod (Fy, Zeinert Luděk)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Biologie | pá 21.10. | 2 (8:55 - 9:40)","teacher":"Mgr. Barbora Pecová","room":"124","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102104ZXS932UOVMM"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">124</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Bi
								</div>

								<div class="bottom">Pec</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni odd normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Matematika | pá 21.10. | 3 (10:00 - 10:45)","teacher":"Ing. Lada Škodová","room":"206","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102105ZXS9DTUZYIG"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">206</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									M
								</div>

								<div class="bottom">Ško</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item day-item-hover tooltip-bubble border-spodni pink"
						style="height: 87px"
						data-detail='{"type":"removed","subjecttext":"pá 21.10. | 4 (10:55 - 11:40)","absentinfo":"","removedinfo":"Zrušeno (D, Outlá Zuzana)"}'
					>
						<div style="height: 87px">
							<div class="top clearfix"></div>

							<div class="middle"></div>
						</div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-spodni odd normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Jazyk francouzský | pá 21.10. | 5a (11:50 - 12:35)","teacher":"Mgr. Barbora Šimůnková","room":"207","group":"Fj","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102107ZXRKFOUUYNO"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div>Fj</div>
									</div>

									<div class="right">
										<div class="first">207</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Fj
								</div>

								<div class="bottom">Šmů</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div
							class="day-item-hover tooltip-bubble"
							style="height: 87px"
							data-detail='{"type":"atom","subjecttext":"Chemie | pá 21.10. | 6b (13:05 - 13:50)","teacher":"Mgr. Kateřina Hubková","room":"104","group":"","theme":"","notice":"","changeinfo":"","homeworks":[],"absencetext":"","identcode":"12022102110ZXS99BUZYJN"}'
						>
							<div>
								<div class="top clearfix">
									<div class="left roll-vertical">
										<div></div>
									</div>

									<div class="right">
										<div class="first">104</div>
									</div>
								</div>

								<div class="middle" style="padding-top: 33px">
									Ch
								</div>

								<div class="bottom">Hub</div>

								<div class="absence _NoAbsent"></div>
							</div>
						</div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>

				<!-- fixme: add info about lesson removal -->

				<span>
					<div
						class="day-item border-pravy border-spodni normal"
						style="height: 87px"
					>
						<div class="empty" style="height: 87px"></div>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>
